---
title: christine angersola
layout: home
description: Hi, I'm Christine
bio: I’m a writer, editor, and content strategist based in New England. I’m also a poet and essayist.
You can find me on [Twitter](https://twitter.com/christinexma) and [Instagram](https://instagram.com),
  if you want.
---

<div class="container">
  <section class="head">
    <h1>hi, I'm Jillian Meehan</h1>
    {{ page.bio | markdownify }}
    <nav>
      {% include nav.html %}
    </nav>
  </section>


  <section class="hi">
    {% for link in site.data.links %}
    {% include link.html link=link %}
    {% endfor %}
  </section>
</div>
